bodyd {
    background-image: linear-gradient(rgba(4, 9, 30, 0.137), rgba(4, 9, 30, 0.7)), url('recipe-by-dall-e.png');
    background-position: center;
    background-size: cover;
    position: relative
}

html {
    max-height: 769px;
    background-color: rgb(255, 217, 50);
}

body {
    max-height: 769px;
    margin: 0;
}

header {
    background-color: rgb(255, 213, 0);
    height: 50pt;
    border: 1px solid black;
    padding-bottom: 2em;
}

header h1 {
    text-align: center;
    font-size: 50pt;
    margin: 0px;
}

nav {
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid red;
}

nav a {
    position: relative;

    left: 108px;
    padding-right: 7em;
}

footer {
    position: relative;
    top: 714px;
    height: 55px;
    width: 1690px;
    background-color: rgb(54, 54, 54);
    align-self: baseline;
}

.sideimg {
    position: absolute;
    width: 90px;
    height: 650px;
    object-fit: cover;
}

button {
    position: absolute;
    width: 100px;
    height: 50px;
    border-radius: 5px;
}

button:hover {
    background: brown;
}

button:active {
    background: rgb(61, 225, 61);
}

.ja {
    text-align: center;
}

table,
td,
th {
    border: 1px solid black;
}

.recepten {
    position: absolute;
    top: 140px;
    left: 110px;
    display: flex;
    flex-wrap: wrap;
}

.recepten a {
    background-color: gainsboro;
    margin-right: 5px;
    margin-bottom: 5px;
    border-left: 5px solid black;
    border-bottom: 5px solid black;
    border-top: 3px solid rgb(92, 92, 92);
    border-right: 3px solid rgb(92, 92, 92);
    border-radius: 5px;
    width: 371px;
    height: 270px;
    display: flex;
    flex-direction: row;
}

.rlevel {
    position: relative;
    top: 25px;
    right: 33em;
    min-width: 110%;
    min-height: fit-content;
    align-content: center;
}

.rgang {
    min-width: 135px;
    position: relative;
    top: 55px;
    left: 210px;
}

.rpers {
    min-width: 135px;
    position: relative;
    top: 95px;
    left: 75px;
}

.rtijd {
    min-width: 135px;
    position: relative;
    top: 135px;
    left: -60px;
}

.ring {
    min-width: 135px;
    position: relative;
    top: 175px;
    left: -195px;
}

.rtitle {
    position: relative;
    align-content: flex-start;
    min-width: fit-content;
    right: 945px;
    bottom: 20px;
}

.rimg {
    align-self: last baseline;
    position: absolute;
    height: 202.67px;
}


.rimg img {
    max-width: 200px;
    border-top: 3px solid black;
    border-right: 3px solid black;
    border-top-right-radius: 5px;
}